

body{ 
    background-image: url(image/bkg.jpg);
    color: white;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-size: 1.1em;
    font-weight: 500;

}

section{
    padding-top: 10;
    padding-bottom: 10px;
    text-align: center;
}

#txtNome{
    width: 300px;
    font-size: 1em
}

#txtEmail{
    width: 300px;
    font-size: 1em;
}

#txtComentario{
    width: 300px;
    font-size: 1em
}

button{
    font-size: 17px;
}
input{
    font-size: 17px;
}